/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 juin 2018, 15:24:22
    Author     : emman
*/



body {
    background-color: #f7f7f7 !important;
}


header {
    
    
    text-align: center;
 
    box-shadow: 0 0 30px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.12);
    
}

header h1 {
    
    color:#414f57 !important;
    font-size:1rem;
    padding:0.2rem 0;
    
}

.btn-block {
    margin: 1rem 0;
}

.link-header{
    display:inline-block;
    color:#414f57 !important;
    font-size:0.8rem;
    padding: 0 0.5rem;
    position:relative;
    text-align:center;
}

.link-header:before{
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: -.1rem;
    left: 0.6rem;
    background-color: #414f57 !important;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
    
}
.link-header:hover{
    text-decoration:none;
}
.link-header:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.modal-dialog {
    max-width: 100% !important;
} 

footer {
    background: #4E76CC;
    color:#fff;
    padding: 2rem 0;
    margin:2rem 0 0 0;
    
}
.mention {
    text-align:center;
    font-size:0.8rem;
}


.fc-day {
    transition:all ease-in-out 0.2s;
}
.fc-day:hover {
    cursor:pointer;
    background: #e8e8e8;
}



h2 {
    padding:1rem 0;
    color: #4E76CC !important;
    font-size:2rem !important;
}

h2{
   color: #4E76CC !important; 
}

.fa-sign-out-alt,
.fa-chart-bar,
.far.fa-clock,
.fa-user-circle,
.fa-exclamation-circle{
    padding-right:0.2rem;    
}

#bg-login {
    background: url(../img/bg-login.jpg) no-repeat;
    background-size: cover;
    min-height: 800px;
    background-position: 0 -12rem;
    padding: 15rem;
}

.login-box {
    background: rgba(255,255,255,0.8);
}

.login-box h4 {
    text-align:center;
} 


.table th, .table td{
    padding:0.2rem !important;
    margin:0 !important;
    font-size:0.8rem;
}

.modal-content input[type="number"]{
    max-width:50px;
}

.modal-content table,
.modal-content{
    width:auto !important;
}

.modal-content {
    margin:auto !important;
}

.modal-content .table th {
    text-align:center;
    font-size: 0.8rem;
}

.btn-primary {
    color:#fff !important;
}


input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
        padding: 0.375rem 0.75rem;
}

.table td {
    vertical-align: middle !important;
}


input[type="radio"]:focus, 
input[type="checkbox"]:focus {
    border: none !important;
    box-shadow: none !important;
} 